.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  position: relative;
}

.main-nav__logo {
  width: 100px;
}

.togglebutton {
  border: none;
  background: none;
  display: flex;
  align-items: center;
}

/* desktop */
@media (min-width: 1024px) {
  .togglebutton {
    display: none;
  }

  .main-nav {
    padding: 20px 40px;
  }

  .main-nav__logo {
    width: 180px;
    align-self: center;
  }
}
