/* desktop */
.main-nav__list {
  display: none;
}

.main-nav__link {
  color: var(--color-primary-white);
  /* color: #787878; */
  /* color: #1d5d44; */
  font-weight: 500;
  height: 60px;
  display: flex;
  width: 130px;
  justify-content: center;
  font-family: "Barlow";
  align-items: center;
  font-size: 20px;
  transition: 0.7s ease all;
}

a.main-nav__link:hover {
  background-color: hsl(156deg 50% 48%);
  border-radius: 50px;
}

@media (min-width: 1024px) {
  .main-nav__list {
    display: flex;
  }
}
