.footer-nav__link {
  color: var(--color-primary-moderate-cyan);
  display: flex;
  justify-content: space-evenly;
  font-family: "Barlow";
  font-size: 16px;
}

a.footer-nav__link {
  font-weight: 600;
}

.footer-nav__list {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 60px;
}
