.footer-nav__link {
  color: #1d5d44;
  display: flex;
  justify-content: space-evenly;
  font-family: var(--st-text-font-family);
  font-size: 18px;
  font-weight: 500;
}

a.footer-nav__link {
  font-weight: 500;
}

.footer-nav__list {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 60px;
}
