.item_container {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 635px;
  display: flex;
  align-items: flex-end;
}

.item__list {
  /* padding: 100px 20px 0px; */
  padding: 0px 20px 65px;
}

.item__title {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  font-family: Fraunces;
  font-weight: 700;
  margin-bottom: 40px;
  color: var(--color-neutral-desaturated-darkblue);
}

.item__content {
  font-family: barlow;
  font-weight: 500;
  color: var(--color-neutral-verydarkgreyblue);
  line-height: 25px;
  text-align: center;
}
