.item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 635px;
  flex: 1;
}

.item__body {
  padding: 0px 20px 65px;
  max-width: 375px;
  margin: 0 auto;
  transform: translateY(350px);
}

.item__title {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  font-family: Barlow;
  margin-bottom: 40px;
  /* color: #00a23f; */
  color: #e8f0f2;
}

.item__content {
  font-family: barlow;
  font-weight: 500;
  color: #000;
  line-height: 25px;
  text-align: center;
  padding: 15px;
  background: rgba(204, 204, 204, 0.7);
  border-radius: 10px;
  backdrop-filter: blur(10px);
}
