.mobilemenu__nav {
  background: #d1e7de;
  padding: 40px 95px;
  width: 325px;
  position: absolute;
  top: 113px;
  right: 26px;
  color: black;
  z-index: 1;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
}

.mobilemenu__nav::after {
  content: "";
  position: absolute;
  top: 0;
  left: 94.8%;
  width: 0;
  height: 0;
  border: 33px solid transparent;
  border-bottom-color: #d1e7de;
  border-top: 0;
  border-right: 0;
  margin-left: -16.5px;
  margin-top: -33px;
}

.mobilemenu__nav__link {
  color: black;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Barlow";
}

a.mobilemenu__nav__link:hover {
  /* background-color: hsl(156deg 50% 48%); */
  background-color: #40c2a6;
  border-radius: 50px;
}
