.testimonial {
  padding: 60px 0px 0px;
  margin-bottom: 50px;
}

.testimonial__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial__heading {
  text-align: center;
  /* font-family: Fraunces; */
  font-family: var(--st-text-font-family);
  color: var(--color-neutral-darkgreyblue);
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

@media (min-width: 1300px) {
  .testimonial__list {
    flex-direction: row;
  }
}
