.testimonial {
  padding: 60px 0px 0px;
  margin-bottom: 50px;
}

.testimonial__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial__heading {
  text-align: center;
  font-family: Fraunces;
  color: var(--color-neutral-darkgreyblue);
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 5px;
  text-transform: uppercase;
}

@media (min-width: 1024px) {
  .testimonial__list {
    flex-direction: row;
    align-items: baseline;
  }
}
