.testimonial__item {
  padding: 60px 30px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  max-width: 400px;
}

.testimonialHeading {
  text-align: center;
  font-family: Fraunces;
  color: var(--color-neutral-greyblue);
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 5px;
  margin: 60px 40px 0px;
}

.testimonial__img {
  border-radius: 40px;
}

.testimonial__item__content {
  padding: 40px 0px;
  text-align: center;
  font-weight: 400;
  font-weight: 500;
  color: var(--color-neutral-desaturated-darkblue);
}

.testimonial__item__name {
  margin-bottom: 10px;
  font-weight: 700;
}
.testimonial__item__name,
.testimonial__item__position {
  text-align: center;
  text-transform: capitalize;
  font-family: barlow;
}

.testimonial__item__position {
  font-size: 14px;
  color: var(--color-neutral-greyblue);
  font-weight: 500;
}
