.testimonialHeading {
  text-align: center;
  font-family: Fraunces;
  color: var(--color-neutral-greyblue);
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 5px;
  margin: 60px 40px 0px;
}
.testimonialItemContainer {
  padding: 60px 30px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  max-width: 400px;
}

.testimonialImg {
  border-radius: 40px;
}

.testimonialContent {
  padding: 40px 0px;
  text-align: center;
  font-weight: 400;
  font-weight: 500;
  color: var(--color-neutral-desaturated-darkblue);
}

.name {
  margin-bottom: 20px;
  font-weight: bold;
}
.name,
.position {
  text-align: center;
  text-transform: capitalize;
  font-family: barlow;
  font-weight: 500;
}

.position {
  font-size: 14px;
  text-transform: capitalize;
  color: var(--color-neutral-greyblue);
}

@media (min-width: 500px) {
  .content2_blk {
    display: flex;
  }
  .testimonialContent_blk {
    display: flex;
    justify-content: space-around;
  }
}
