.testimonial__imgContainer {
  margin-bottom: 20px;
}
.testimonial__item {
  padding: 30px 30px 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex: 1;
  max-width: 400px;
  margin-bottom: 25px;
  /* background: #d9b986c7; */
  background: #eceadf;
  margin-right: 30px;
  margin-left: 30px;
  /* height: 450px; */
  height: 510px;
  box-shadow: 0 4px 20px rgb(0 0 0 / 15%);
}

.testimonial__img {
  border-radius: 40px;
}

.testimonial__item__content {
  padding: 40px 0px;
  text-align: center;
  font-weight: 300;
  font-family: var(--st-text-font-family);
  color: var(--color-neutral-desaturated-darkblue);
}

.testimonial__item__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-family: var(--st-text-font-family);
}
.testimonial__item__name,
.testimonial__item__position {
  text-align: center;
  text-transform: capitalize;
  font-family: var(--st-text-font-family);
}

.testimonial__item__position {
  font-size: 14px;
  color: var(--color-neutral-greyblue);
  font-weight: 500;
}
