.homeContainer {
  max-width: 1440px;
  margin: 0 auto;
}

.imgCollageContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
}

.imgCollageContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
}
