.heading {
  padding: 60px 0px;
  text-align: center;
}

.stretchfacts-img_card {
  margin: 15px;
}
.stretch-content {
  padding: 100px 40px;
}

.stretch-content_title {
  text-align: left;
}

.stretch-content_content {
  text-align: left;
  padding: 35px 0px;
}

@media (min-width: 768px) {
  .stretchfacts-list {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin: 60px;
  }

  .stretchfacts-list:nth-child(even) {
    flex-direction: row;
  }

  .stretch-content {
    display: flex;
    justify-self: center;
    width: 50%;
    align-items: center;
    padding: 0;
  }
  .stretchfacts-img_card {
    width: 50%;
    max-width: 450px;
    transition: 300ms transform ease-in-out;
  }
  /* .stretchfacts-img_card:hover {
    transform: scale(1.1);
  } */

  .item {
    max-width: 500px;
  }
}
