/* .heading {
  padding: 60px 0px;
  text-align: center;
} */
.stretchfacts-test {
  position: relative;
}

.video {
  width: 100%;
  display: block;
  max-height: calc(100vh - 137px);
}

.stretchfacts-test {
  background-color: #e0f2f1;
}
.heading {
  position: absolute;
  /* transform: translate(-50%, 50%); */
  /* top: 39%; */
  bottom: 5%;
  /* left: 50%; */
  z-index: 1;
  color: white;
  font-size: 25px;
  text-align: center;
  width: 100%;
}
.stretchfacts-img_card {
  margin: 15px;
}
.stretch-content {
  padding: 40px 40px;
}

.stretch-content_title {
  text-align: left;
}

.stretch-content_content {
  text-align: left;
  padding: 35px 0 0;
}

@media (min-width: 768px) {
  .stretch-content {
    padding: 100px 40px;
  }

  .stretchItem {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
  /* .stretchfacts-list {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin: 60px;
  } */

  .stretchfacts-list:nth-child(even) .stretchItem {
    flex-direction: row;
  }

  .stretch-content {
    display: flex;
    justify-self: center;
    width: 50%;
    align-items: center;
    padding: 0;
  }
  .stretchfacts-img_card {
    width: 50%;
    max-width: 450px;
    transition: 100ms transform ease-in-out;
  }
  /* /* .stretchfacts-img_card:hover {
    transform: scale(1.1);
  } */
  /*  */

  .item {
    max-width: 500px;
  }

  .heading {
    position: absolute;
    /* transform: translate(-50%, 50%); */
    top: 67%;
    /* left: 50%; */
    z-index: 1;
    color: white;
    font-size: 40px;
    text-align: center;
    width: 100%;
  }

  .stretchfacts-list:nth-of-type(1n) {
    /* background-color: #f0f5ec; */
    /* background-color: #f3f3ee; */
    background-color: #f0f0e8;

    padding: 60px 60px;
  }
  .stretchfacts-list:nth-of-type(2n) {
    /* background-color: #7bc0c9; */
    background-color: #edf6f0;
    padding: 60px 60px;
  }
  .stretchfacts-list:nth-of-type(3n) {
    /* background-color: #edf6f0; */
    background-color: #e7e5db;
    padding: 60px 60px;
  }
}

@media (min-width: 1024px) {
  .stretchItem {
    max-width: 1280px;
    margin: 60px auto;
  }
  .stretchfacts-list:nth-of-type(odd) .stretchfacts-img_card {
    box-shadow: 0.5rem 0.5rem #40c2a6, -0.5rem -0.5rem #f2d725;
    /* box-shadow: 0.5rem 0.5rem #eaca9c, -0.5rem -0.5rem #d1ae84; */
    /* box-shadow: 0.5rem 0.5rem #e1b986, -0.5rem -0.5rem #f3d5a2; */
    /* box-shadow: 0.5rem 0.5rem #b1b6b3, -0.5rem -0.5rem #d8d4cb;
    box-shadow: 0.5rem 0.5rem #b9bfba, -0.5rem -0.5rem #d8d4cb; */
    /* box-shadow: 0.5rem 0.5rem #f5a297, -0.5rem -0.5rem #eabeb3; */
  }

  .stretchfacts-list:nth-of-type(even) .stretchfacts-img_card {
    box-shadow: 0.5rem 0.5rem #18c0cc, -0.5rem -0.5rem #f75b35;
  }

  .stretchfacts-img_card {
    margin-left: 30px;
  }
}
