.aboutme_mainheading {
  text-align: center;
  font-size: 35px;
  /* margin: 32px; */
  font-family: var(--st-text-font-family);
  font-weight: 600;
}

.imgContainer {
  padding: 36px;
}

.contentContainer {
  padding: 36px;
}
.experienceContentContainer {
  padding: 36px 36px 100px;
}
.aboutImg {
  border-radius: 45px;
}

.corevalues__subheading,
.myexperience__subheading {
  font-size: 32px;
  text-align: center;
  padding: 10px 10px 30px;
  font-family: var(--st-text-font-family);
  font-weight: 500;
}

.corevalueItem,
.myexperienceItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 375px;
  margin: 0 auto 50px;
}

.corevalue__label {
  margin-bottom: 15px;
  letter-spacing: 1.5px;
  margin-bottom: 15px;
  font-family: var(--st-text-font-family);
  font-weight: 600;
  text-transform: uppercase;
}
.description {
  text-align: center;
  font-family: var(--st-text-font-family);
  font-weight: 300;
}

.numbers {
  font-size: 30px;
  font-family: var(--st-text-font-family);
  font-weight: 500;
}
.myexperience__label {
  text-align: center;
  font-family: var(--st-text-font-family);
  font-weight: 300;
}
@media (min-width: 768px) {
  .aboutme_mainheading {
    font-size: 40px;
  }
  .corevalues__subheading,
  .myexperience__subheading {
    font-size: 35px;
    padding: 60px 10px 60px;
  }
  .corevalue__list,
  .myexperience__list {
    display: flex;
    align-items: flex-start;
    padding: 50px 0;
  }

  .corevalueItem,
  .myexperienceItem {
    max-width: 345px;
    padding: 19px;
    margin: 0 auto;
  }

  .myexperienceItem {
    max-width: 200px;
  }
  .numbers {
    font-size: 36px;
    text-align: center;
    font-weight: 500;
  }
}

@media (min-width: 1024px) {
  .aboutme_mainheading {
    /* margin: 32px 32px 60px; */
    margin: 0;
  }
  .aboutContent {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: flex-start;
    max-width: 1024px;
    margin: 0 auto;
  }

  .content,
  .aboutImg {
    width: 50%;
  }
}
