.video {
  display: none;
}

.stretchfacts-test {
  background-image: url("../public/poster-vid.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 60vh;
  position: relative;
}

.heading {
  position: absolute;
  bottom: 5%;
  z-index: 0;
  color: white;
  font-size: 25px;
  text-align: center;
  width: 100%;
  font-family: var(--st-text-font-family);
  font-weight: 400;
}

.title h1 {
  padding: 60px 0;
  text-align: center;
  background-color: var(--st-color-primary-white);
  font-family: var(--st-text-font-family);
  font-weight: 500;
  text-transform: capitalize;
  font-size: 22px;
}

@media (min-width: 768px) {
  .poster {
    display: none;
  }
  .stretchfacts-test {
    background: none;
    height: auto;
  }
  .video {
    width: 100%;
    display: block;
  }

  .heading {
    bottom: 23%;
    font-size: 40px;
  }

  .title h1 {
    font-size: 28px;
  }
}
